DATABASE_URL=postgresql://postgres:[Incontec2026*]@db.fnibfacrcqrisglkbavr.supabase.co:5432/postgres
JWT_SECRET=055/4vdYVO8Hd4+SRooAe+VNTRibK33g1E+nvJsAwri34M8dIeukU9MqnRT7tCD7fiAVN7IXKyQpLaHHdxNDBw==
NODE_ENV=production
